.checkin-feed-item {
  border-bottom: solid black 1px;
  padding: 0.1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
}

.checkin-feed-item img {
  flex: 1;
  height: 4em;
  margin-right: 1em;
}

.checkin-feed-item div {
  flex: 7;
}

.checkin-feed-item h1 {
  font-size: 1em;
}
