* {
  margin: 0;
}

.content {
  margin-top: 1.5em;
  margin-bottom: 4.5em;
}

.checkin-feed {
  list-style-type: none;
  padding: 0.1em;
}

.checkin {
  border: solid black 1px;
  padding: 0.1em;
  margin-bottom: 0.1em;
  display: flex;
  flex-direction: row;
}

.checkin img {
  flex: 1;
  height: 4em;
  margin-right: 1em;
}

.checkin div {
  flex: 7;
}

.checkin h1 {
  font-size: 1em;
}
