* {
  margin: 0;
}

.content {
  width: calc(100% - 2em);
  margin-top: 1.5em;
  margin-bottom: 4.5em;
  margin-left: 1em;
  margin-right: 1em;
}

@media (min-width: 512px) {
  .content {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

form > div {
  display: flex;
  margin-top: 1em;
}

form > div > label {
  flex: 1;
}

form > div > input,textarea {
  flex: 3;
}

button {
  width: 100%;
}
