* {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  background-color: white;
}

.content {
  margin-top: 1.5em;
  margin-bottom: 4.5em;
}

.checkin-feed {
  list-style-type: none;
  padding: 0.1em;
}

.checkin {
  border: solid black 1px;
  padding: 0.1em;
  margin-bottom: 0.1em;
  display: flex;
  flex-direction: row;
}

.checkin img {
  flex: 1;
  height: 4em;
  margin-right: 1em;
}

.checkin div {
  flex: 7;
}

.checkin h1 {
  font-size: 1em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 1em;
  border-top: solid black 1px;
  background-color: white;
}

input.search {
  margin: 2vw;
  padding: 0.1em;
  line-height: 2em;
  width: 94vw;
}

nav {
  padding: 0;
  border: solid black 1px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  border: solid black 1px;
  padding: 0.1em;
  height: 100%;
  width: 100%;

  text-align: center;
}

nav ul li.selected {
  background-color: yellow;
}
